<!DOCTYPE html>
<html>
<body>
    {% if error == True: %}
    <font color="#FF0000">Username {{ register_username }} is already taken.</font>
    {% endif %}
    <h1>Register page</h1>		
    <h3>Username:</h3>
    <form method="post">    
        <input type="text" name="username" placeholder="Enter your username" required>
        <br><br>
	<h3>Password:</h3>
	<input type="password" name="password" placeholder="Enter your password" required>
	<br><br>
	<input type="submit" value="Register">	
    </form>
</body>
</html>
